<!-- Modal confirm delete-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel"
     aria-hidden="true" th:fragment="confirmDeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center">
          <div class="text-danger mb-4">
            <i class="fas fa-exclamation-triangle fa-3x"></i>
          </div>
          <h4>Bạn chắc chắn muốn xoá?</h4>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <a id="btn-delete" href="javascript:void(0)" class="btn btn-danger">Xác nhận</a>
        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>