<div th:fragment="find-job">
  <!-- Page Heading -->
  <div class="row title">
    <div class="col-md-12">
      <h3>
        Quản lý tìm việc làm
      </h3>
    </div>
  </div>

  <div class="row datatable mt-3">
    <div class="col-lg-12">
      <table id="find-job-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Tiêu đề<i class="fas fa-sort fa-size"></i></th>
          <th>Ngày tạo<i class="fas fa-sort fa-size"></i></th>
          <th>Ngày hết hạn<i class="fas fa-sort fa-size"></i></th>
          <th>Trạng thái<i class="fas fa-sort fa-size"></i></th>
          <th>Thêm<i class="fas fa-sort fa-size"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "worker, stt : ${workerList}">
          <td class="text-center"><span th:text="*{stt.index + 1}"></span></td>
          <td><span th:text="${format.title(worker.workRequestFindJobTitle, 25)}"></span></td>
          <td><span th:text="*{#dates.format(worker.workRequestFindJobStartDateTime, 'dd-MM-yyyy')}"></span></td>
          <td><span th:text="*{#dates.format(worker.workRequestFindJobEndDateTime, 'dd-MM-yyyy')}"></span></td>
          <td>
            <span th:classappend="*{worker.sttWorkCode == 1 ? 'text-info'
            : (worker.sttWorkCode == 2 ? 'text-secondary'
            : (worker.sttWorkCode == 3 ? 'text-warning'
            : (worker.sttWorkCode == 4 ? 'color-success' : 'text-danger')))}"
                th:text="*{worker.sttWorkCode == 1 ? 'Đang chờ duyệt'
            : (worker.sttWorkCode == 2 ? 'Từ chối duyệt'
            : (worker.sttWorkCode == 3 ? 'Đã duyệt'
            : (worker.sttWorkCode == 4 ? 'Hoàn thành' : 'Hết hạn')))}">
            </span>
          </td>
          <td class="text-right">
            <th:block th:if="*{worker.workRequestFindJobNote != null}">
              <a href="javascript:void(0)" class="text-info">
                <i class="far fa-comment-dots" data-bs-placement="top" data-bs-toggle="tooltip" title="Lý do từ chối"
                   onclick="showContent(event)">
                  <span class="d-none" th:text="*{worker.workRequestFindJobNote}"></span>
                </i>
              </a>
            </th:block>
            <a th:href="@{/work/find-job/detail(findJobId=*{worker.workRequestFindJobId})}">
              <i class="fas fa-eye text-warning"></i>
            </a>
            <th:block th:if="*{worker.sttWorkCode == 1}">
              <a href="javascript:void(0)" class="text-success">
                <i class="fas fa-check" onclick="confirmApproveFindJob(event)">
                  <span class="d-none" th:text="*{worker.workRequestFindJobId}"></span>
                </i>
              </a>
            </th:block>
            <a href="javascript:void(0)" class="color-danger">
              <i class="far fa-trash-alt" onclick="confirmDeleteFindJob(event)">
                <span class="d-none" th:text="*{worker.workRequestFindJobId}"></span>
              </i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>