<div th:fragment="club">
  <!-- Page Heading -->
  <div class="row title">
    <div class="col-md-12">
      <h3>
        Quản lý câu lạc bộ
      </h3>
    </div>
  </div>

  <div class="row datatable mt-3">
    <div class="col-lg-12">
      <table id="club-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Tên câu lạc bộ<i class="fas fa-sort fa-size"></i></th>
          <th>Người liên hệ<i class="fas fa-sort fa-size"></i></th>
          <th>Email liên hệ<i class="fas fa-sort fa-size"></i></th>
          <th>Số điện thoại<i class="fas fa-sort fa-size"></i></th>
          <th class="text-right">Thêm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "club, stt : ${clubList}">
          <td class="text-center"><span th:text="*{stt.index + 1}"></span></td>
          <td>
            <a th:href="@{/club/detail(clubId=*{club.fptuClubId})}">
              <span th:text="*{club.fptuClubName}"></span>
            </a>
          </td>
          <td><span class="span" th:text="*{club.fptuClubContactName}"></span></td>
          <td><span th:text="*{club.fptuClubContactEmail}"></span></td>
          <td><span th:text="*{club.fptuClubContactPhoneNumber}"></span></td>
          <td class="text-right">
            <a href="javascript:void(0)" class="color-danger">
              <i class="far fa-trash-alt" onclick="confirmDeleteClub(event)">
                <span class="d-none" th:text="*{club.fptuClubId}"></span>
              </i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>