<div th:fragment="all">
  <!-- Page Heading -->
  <div class="row title">
    <div class="col-md-12">
      <h3>
        Quản lý tài khoản
      </h3>
    </div>
  </div>

  <div class="row datatable mt-3">
    <div class="col-lg-12">
      <table id="user-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Tên<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Ngày sinh<i class="fas fa-sort fa-size"></i></th>
          <th class="text-right">Giới tính<i class="fas fa-sort fa-size"></i></th>
          <th class="text-right">SĐT<i class="fas fa-sort fa-size"></i></th>
          <th class="text-right">Email<i class="fas fa-sort fa-size"></i></th>
          <th class="text-right">Thêm<i class="fas fa-sort fa-size"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "info : ${getAllUserInfo}">
          <td class="text-center">1</td>
          <td><a href=""><span th:text = "*{info.userDetailName}"></span></a></td>
          <td class="text-center">
            <i class="bi bi-calendar3-week me-1"></i><span th:text = "*{#dates.format(info.userDetailDob, 'dd-MM-yyyy')}"></span>
          </td>
          <td class="text-right"><span th:text = "*{info.userDetailGender}"></span></td>
          <td class="text-secondary text-right"><span th:text = "*{info.userDetailPhone}"></span></td>
          <td class="text-right"><span th:text = "*{info.userDetailEmail}"></span></td>
          <td class="text-right">
            <a href="javascript:void(0)" class="text-info" data-bs-toggle="modal" data-bs-target="#reasonRejectionOrderModal">
              <i class="far fa-comment-dots" data-bs-placement="top" data-bs-toggle="tooltip" title="Lý do từ chối"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>