<!-- Modal update bus -->
<div class="modal fade" id="updateBusModal" tabindex="-1" aria-labelledby="updateBusModalLabel"
     aria-hidden="true" th:fragment="updateBusModal">
  <div class="modal-dialog modal-description">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateBusModalLabel">Cập nhật Bus</h5>
      </div>
      <div class="modal-body">
        <form id="updateBus" method="post" th:object="${updateBus}" th:action="@{/bus/update}">
          <input type="hidden" th:field="${currentBus.tfBusId}">
          <div class="form-group">
            <fieldset>
              <label>Số xe</label>
              <input type="text" class="form-control" id="num" th:field="${currentBus.tfBusName}">
            </fieldset>
          </div>
          <div class="form-row">
            <div class="form-row col-md-2">
              <fieldset>
                <label>Thời gian chạy</label>
                <input type="text" class="form-control" id="startTime" th:field="${currentBus.tfBusStartTime}">
              </fieldset>
            </div>
            <div class="form-group col-md-2">
              <fieldset>
                <label>Thời gian nghỉ</label>
                <input type="text" class="form-control" id="endTime" th:field="${currentBus.tfBusEndTime}">
              </fieldset>
            </div>
            <div class="form-group col-md-3">
              <fieldset>
                <label>Giá</label>
                <input type="text" class="form-control" id="price" th:field="${currentBus.tfBusPrice}" placeholder="VND">
              </fieldset>
            </div>
          </div>
          <div class="form-group">
            <fieldset>
              <label>Thông tin</label>
              <input type="text" class="form-control" id="info" th:field="${currentBus.tfBusInfo}">
            </fieldset>
          </div>
<!--          <div class="form-group">-->
<!--            <fieldset>-->
<!--              <label>Điểm dừng</label>-->
<!--              <textarea type="text" class="form-control" id="stops" th:field="${currentBus.tfBusStops}"></textarea>-->
<!--            </fieldset>-->
<!--          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary"
           onclick="document.getElementById('updateBus').submit();">
          <i class="fas fa-check text-success"></i>Xác nhận
        </a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>