<div th:fragment="motorbike-taxi-drivers">
  <!-- Page Heading -->
  <div class="row title">
    <div class="col-md-12">
      <h3>
        Quản lý xe ôm
      </h3>
    </div>
  </div>

  <div class="row datatable mt-3">
    <div class="col-lg-12">
      <table id="motorbike-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Tên<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Giới tính<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Số điện thoại<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Bằng lái<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Phương tiện<i class="fas fa-sort fa-size"></i></th>
          <th class="text-center">Thời gian làm việc<i class="fas fa-sort fa-size"></i></th>
          <th>Trạng thái<i class="fas fa-sort fa-size"></i></th>
          <th>Thêm<i class="fas fa-sort fa-size"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "motorbike, stt : ${motorbikeTaxiDriversList}">
          <td class="text-center"><span th:text="*{stt.index + 1}"></span></td>
          <td><span th:text="*{motorbike.tfMotorbikeTaxiDriversName}"></span></td>
          <td class="text-center"><span th:text="*{motorbike.tfMotorbikeTaxiDriversGender ? 'Nam' : 'Nữ'}"></span></td>
          <td class="text-center"><span th:text="*{motorbike.tfMotorbikeTaxiDriversPhone}"></span></td>
          <td class="text-center"><span th:text="*{motorbike.tfMotorbikeTaxiDriversLicensePlates}"></span></td>
          <td class="text-center"><span th:text="*{motorbike.tfMotorbikeTaxiDriversVehicleType}"></span></td>
          <td class="text-center">
            <span th:text="*{motorbike.tfMotorbikeTaxiDriversStartTime} + ' - ' + *{motorbike.tfMotorbikeTaxiDriversEndTime}">
            </span>
          </td>
          <td>
            <span th:classappend="*{motorbike.tfMotorbikeTaxiDriversStatus == 1 ? 'color-success' : 'text-danger'}"
                  th:text="*{motorbike.tfMotorbikeTaxiDriversStatus == 1 ? 'Đang hoạt động' : 'Đã dừng'}">
            </span>
          </td>
          <td class="text-right">
            <a href="javascript:void(0)" class="color-danger">
              <i class="far fa-trash-alt" onclick="confirmDeleteMotorbikeTaxi(event)">
                <span class="d-none" th:text="*{motorbike.tfMotorbikeTaxiDriversId}"></span>
              </i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>