<!-- Modal show detail recruitment-->
<div class="modal fade" id="showDetailRecruitmentModal" tabindex="-1" aria-labelledby="showDetailRecruitmentModalLabel"
     aria-hidden="true" role="dialog" th:fragment="showDetailRecruitmentModal">
  <div class="modal-dialog modal-description">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="showDetailRecruitmentModalLabel">
          <span>Chi tiết bài viết</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body preview-bg">
        <div class="request-detail">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              <div class="panel request-title">
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                    <h3 th:text="${workRecruitment.workRequestRecruitmentTitle}"></h3>
                    <p>
                      <i class="fas fa-map-marker-alt fa-fw"></i>
                      <span th:text="${workRecruitment.workRequestRecruitmentWorkLocation}"></span>
                    </p>
                  </div>
                </div>
              </div>
              <h2 class="sub-title">Thông tin tuyển dụng</h2>
              <div class="panel-text">
                <div class="row-info">
                  <div><i class="fas fa-coins fa-fw"></i> Mức lương</div>
                  <div th:text="${workRecruitment.workRequestRecruitmentSalary}"></div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-cash-register fa-fw"></i> Đơn vị tính lương</div>
                  <div>
                    <th:block th:with="unit=${workSalaryUnitService.getOne(workRecruitment.workSalaryUnitId)}">
                      <span th:text="${unit.workSalaryUnitName}"></span>
                    </th:block>
                  </div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-exchange-alt fa-fw"></i> Hình thức thanh toán</div>
                  <div>
                    <th:block th:with="payment=${workPaymentMethodService.getOne(workRecruitment.workPaymentMethodId)}">
                      <span th:text="${payment.workPaymentMethodName}"></span>
                    </th:block>
                  </div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-user-clock fa-fw"></i> Hình thức làm việc</div>
                  <div>
                    <th:block th:with="type=${workRequestTypeService.getOne(workRecruitment.workRequestTypeId)}">
                      <span th:text="*{type.workRequestTypeName}"></span>
                    </th:block>
                  </div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-user-friends fa-fw"></i> Số lượng cần tuyển</div>
                  <div th:text="${workRecruitment.workRequestRecruitmentQuantity}"></div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-user-plus fa-fw"></i> Yêu cầu kinh nghiệm</div>
                  <div th:text="${workRecruitment.workRequestRecruitmentExperienceRequirement ? 'Có' : 'Không'}"></div>
                </div>
                <div class="row-info">
                  <div><i class="fas fa-venus-mars fa-fw"></i> Yêu cầu giới tính</div>
                  <div th:text="${workRecruitment.workRequestRecruitmentGenderRequirement ? 'Có' : 'Không'}"></div>
                </div>
              </div>
              <h2 class="sub-title">Mô tả</h2>
              <div class="panel-text">
                  <pre class="pre" th:text="${workRecruitment.workRequestRecruitmentDescription}"></pre>
              </div>
              <h2 class="sub-title">Yêu cầu</h2>
              <div class="panel-text">
                  <pre class="pre" th:text="${workRecruitment.workRequestRecruitmentRequirement}"></pre>
              </div>
              <h2 class="sub-title">Quyền lợi được hưởng</h2>
              <div class="panel-text">
                  <pre class="pre" th:text="${workRecruitment.workRequestRecruitmentBenefit}"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>